<ion-header>
  <ion-toolbar>
    <ion-title>Customers</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let customer of customers">
    <ion-card-header>
      <ion-card-title><ion-icon name="person-circle-outline" slot="start"></ion-icon>{{ customer.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text><h2><ion-icon name="call-outline" slot="start"></ion-icon><a href="tel:{{ customer.telefono }}">{{ customer.telefono }}</a></h2></ion-text>
      <ion-text><h2><ion-icon name="business-outline" slot="start"></ion-icon>{{ customer.direccion }}</h2></ion-text>
      <ion-button color="primary" (click)="edit(customer.id)"><ion-icon name="create-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
