<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let product of products">
    <ion-item>
      <ion-card-title>{{ product.nombre }}</ion-card-title>
    </ion-item>
    <ion-card-content>
      <h2>{{ product.precio }}€</h2>
      <h2>{{ product.cantidad }} units</h2>
      <p>{{ product.descripcion }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
