<ion-header>
  <ion-toolbar>
    <ion-title>Edit Employee</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user.normalizeAttr != undefined">
    <ion-list lines="none">
      <form (submit)="editUser()">
        <br>
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="#">
          </div>
          
        </ion-item>
        <br>
        <ion-item>
          <ion-label>
            First Name:
          </ion-label>
          <ion-input placeholder="{{ user.normalizeAttr['custom:FIRST_NAME'] }}" value="{{ user.normalizeAttr['custom:FIRST_NAME'] }}" [(ngModel)]="edituser.firstname" name="firstname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            Last Name:
          </ion-label>
          <ion-input placeholder="{{ user.normalizeAttr['custom:LAST_NAME'] }}" value="{{ user.normalizeAttr['custom:LAST_NAME'] }}" [(ngModel)]="edituser.lastname" name="lastname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            Role: {{ user.normalizeAttr['custom:ROLE'] }}
          </ion-label>
          <ion-select value="{{ user.normalizeAttr['custom:ROLE'] }}" okText="Okay" cancelText="Dismiss" [(ngModel)]="edituser.role" name="role">
            <ion-select-option value="ADMIN">ADMIN</ion-select-option>
            <ion-select-option value="RRHH">HUMAN RESOURCES</ion-select-option>
            <ion-select-option value="SALES">SALES</ion-select-option>
            <ion-select-option value="PURCHASING">PURCHASING</ion-select-option>
            <ion-select-option value="FINANCES">FINANCES</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="medium">Email: {{ user.normalizeAttr['email'] }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>NIF:</ion-label>
          <ion-input placeholder="{{ user.normalizeAttr['custom:NIF'] }}" value="{{ user.normalizeAttr['custom:NIF'] }}" [(ngModel)]="edituser.nif" name="nif"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Phone:</ion-label>
          <ion-input placeholder="{{ user.normalizeAttr['custom:STR_PHONE'] }}" value="{{ user.normalizeAttr['custom:STR_PHONE'] }}" [(ngModel)]="edituser.phone" name="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>NSS:</ion-label>
          <ion-input placeholder="{{ user.normalizeAttr['custom:STR_NSS'] }}" value="{{ user.normalizeAttr['custom:STRG_NSS'] }}" [(ngModel)]="edituser.nss" name="nss"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Address:</ion-label>
          <ion-input placeholder="{{ user.normalizeAttr['custom:ADDRESS'] }}" value="{{ user.normalizeAttr['custom:ADDRESS'] }}" [(ngModel)]="edituser.address" name="address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button color="warning" (click)="updateUser(sub)">Update user</ion-button>
        </ion-item>
        <ion-item *ngIf="user.Enabled == false">
          <ion-button color="success" (click)="enableUser(sub)">Enable User</ion-button>
        </ion-item>
      </form>
    </ion-list>
  </div>
</ion-content>
