<ion-header>
  <ion-toolbar>
    <ion-title>New Employee</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (submit)="signup()">
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input [(ngModel)]="signupuser.username" type="email" required name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">First Name:</ion-label>
      <ion-input [(ngModel)]="signupuser.firstname" type="text" required name="firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name:</ion-label>
      <ion-input [(ngModel)]="signupuser.lastname" type="text" required name="lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Role:</ion-label>
      <ion-input [(ngModel)]="signupuser.role" type="text" required name="role"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone:</ion-label>
      <ion-input [(ngModel)]="signupuser.phone" type="text" required name="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">NSS:</ion-label>
      <ion-input [(ngModel)]="signupuser.nss" type="text" required name="nss"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">NIF:</ion-label>
      <ion-input [(ngModel)]="signupuser.nif" type="text" required name="nif"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address:</ion-label>
      <ion-input [(ngModel)]="signupuser.address" type="text" required name="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password:</ion-label>
      <ion-input [(ngModel)]="signupuser.password" type="password" required name="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="primary">Register</ion-button>
  </form>
</ion-content>
