<ion-app>
  
  <!-- RRHH -->
  <ion-menu menuId="menu-rrhh" content-id="menu-rrhh">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>HOME</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
          <ion-icon name="briefcase-outline" slot="start"></ion-icon>
          Employee
          <ion-icon slot="end" [name]="isRemainder? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/add-rrhh']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/list-rrhh']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item lines="none" (click)="isPayroll === 1 ? isPayroll = 0 : isPayroll = 1">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          Payroll
          <ion-icon slot="end" [name]="isPayroll? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/add-payroll']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/list-payroll']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-concepts']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Concepts              
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-concepts']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              Concepts              
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-category']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Categories           
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-category']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              Categories           
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item lines="none" (click)="isReport === 1 ? isReport = 0 : isReport = 1">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          Report
          <ion-icon slot="end" [name]="isReport? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/add-report']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/list-report']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
        <ion-item routerLink="/settings">
          <ion-icon name="settings-outline" slot="start" ></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item routerLink="/logout">
          <ion-icon name="power-outline" slot="start" ></ion-icon>
          <ion-label>LOG OUT</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-rrhh"></ion-router-outlet>
  <!-- END RRHH MENU -->

  <!-- ADMIN -->
  <ion-menu menuId="menu-admin" content-id="menu-admin">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>HOME</ion-label>
        </ion-item>
        <ion-item (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
          <ion-icon name="briefcase-outline" slot="start"></ion-icon>
          Employee
          <ion-icon slot="end" [name]="isRemainder? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/add-rrhh']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/list-rrhh']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item (click)="isPayroll === 1 ? isPayroll = 0 : isPayroll = 1">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          Payroll
          <ion-icon slot="end" [name]="isPayroll? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/add-payroll']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/list-payroll']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-concepts']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Concepts              
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-concepts']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              Concepts              
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-category']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Categories           
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-category']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              Categories           
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item (click)="isReport === 1 ? isReport = 0 : isReport = 1">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          Report
          <ion-icon slot="end" [name]="isReport? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/add-report']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/list-report']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isCustomer === 1 ? isCustomer = 0 : isCustomer = 1">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          Customer
          <ion-icon slot="end" [name]="isCustomer? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isCustomer" [routerLink]="['/add-customers']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isCustomer" [routerLink]="['/list-customers']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isProduct === 1 ? isProduct = 0 : isProduct = 1">
          <ion-icon name="gift-outline" slot="start"></ion-icon>
          Product
          <ion-icon slot="end" [name]="isProduct? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/add-product']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add
            </ion-item>
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/list-product']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              List
            </ion-item>
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/sell-product']" menuClose class="sub-menu">
              <ion-icon name="rocket-outline" slot="start"></ion-icon>
              Sell
            </ion-item>
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/add-productcategory']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Category
            </ion-item>
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/list-productcategory']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              Category
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isAdmin === 1 ? isAdmin = 0 : isAdmin = 1">
          <ion-icon name="walk-outline" slot="start"></ion-icon>
          Admin Area
          <ion-icon slot="end" [name]="isAdmin? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isAdmin" [routerLink]="['/audits']" menuClose class="sub-menu">
              <ion-icon name="pulse-outline" slot="start"></ion-icon>
              Audits          
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
        <ion-item routerLink="/settings">
          <ion-icon name="settings-outline" slot="start" ></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item routerLink="/logout">
          <ion-icon name="power-outline" slot="start" ></ion-icon>
          <ion-label>LOG OUT</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-admin"></ion-router-outlet>
</ion-app>
