<ion-app>
  
  <!-- SALES -->
  <ion-menu menuId="menu-sales" content-id="menu-sales">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>HOME</ion-label>
        </ion-item>
        
        <ion-item (click)="isCustomer === 1 ? isCustomer = 0 : isCustomer = 1">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          {{ 'Customer' | translate }}
          <ion-icon slot="end" [name]="isCustomer? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isCustomer" [routerLink]="['/add-customers']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isCustomer" [routerLink]="['/list-customers']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isSell === 1 ? isSell = 0 : isSell = 1">
          <ion-icon name="rocket-outline" slot="start"></ion-icon>
          {{ 'Sales' | translate }}
          <ion-icon slot="end" [name]="isSell? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isSell" [routerLink]="['/sell-product']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isSell" [routerLink]="['/sell-list']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isProduct === 1 ? isProduct = 0 : isProduct = 1">
          <ion-icon name="gift-outline" slot="start"></ion-icon>
          {{ 'Product' | translate }}
          <ion-icon slot="end" [name]="isProduct? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/list-product']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>{{ 'Profile' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/settings">
          <ion-icon name="settings-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'Settings' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/logout">
          <ion-icon name="power-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'LOG OUT' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-sales"></ion-router-outlet>
  <!-- END SALES MENU -->

  <!-- PURCHASING -->
  <ion-menu menuId="menu-purchasing" content-id="menu-purchasing">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>{{ 'HOME' | translate }}</ion-label>
        </ion-item>

        <ion-item (click)="isRawMaterial === 1 ? isRawMaterial = 0 : isRawMaterial = 1">
          <ion-icon name="flask-outline" slot="start"></ion-icon>
          {{ 'Raw Materials' | translate }}
          <ion-icon slot="end" [name]="isRawMaterial? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRawMaterial" [routerLink]="['/add-rawmaterials']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isRawMaterial" [routerLink]="['/list-rawmaterials']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isSupplier === 1 ? isSupplier = 0 : isSupplier = 1">
          <ion-icon name="airplane-outline" slot="start"></ion-icon>
          {{ 'Supplier' | translate }}
          <ion-icon slot="end" [name]="isSupplier? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isSupplier" [routerLink]="['/add-supplier']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isSupplier" [routerLink]="['/list-suppliers']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>{{ 'Profile' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/settings">
          <ion-icon name="settings-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'Settings' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/logout">
          <ion-icon name="power-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'LOG OUT' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-purchasing"></ion-router-outlet>
  <!-- END PURCHASING MENU -->

  <!-- RRHH -->
  <ion-menu menuId="menu-rrhh" content-id="menu-rrhh">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>{{ 'HOME' | translate</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
          <ion-icon name="briefcase-outline" slot="start"></ion-icon>
          {{ 'Employee' | translate }}
          <ion-icon slot="end" [name]="isRemainder? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/add-rrhh']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/list-rrhh']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item lines="none" (click)="isPayroll === 1 ? isPayroll = 0 : isPayroll = 1">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          {{ 'Payroll' | translate }}
          <ion-icon slot="end" [name]="isPayroll? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/add-payroll']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/list-payroll']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-concepts']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Concepts' | translate }}              
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-concepts']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'Concepts' | translate }}              
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-category']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Categories' | translate }}         
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-category']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'Categories' | translate }}           
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item lines="none" (click)="isReport === 1 ? isReport = 0 : isReport = 1">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          {{ 'Report' | translate }}
          <ion-icon slot="end" [name]="isReport? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/add-report']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/list-report']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>{{ 'Profile' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/settings">
          <ion-icon name="settings-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'Settings' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/logout">
          <ion-icon name="power-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'LOG OUT' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-rrhh"></ion-router-outlet>
  <!-- END RRHH MENU -->

  <!-- ADMIN -->
  <ion-menu menuId="menu-admin" content-id="menu-admin">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>{{ 'HOME' | translate }}</ion-label>
        </ion-item>
        <ion-item (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
          <ion-icon name="briefcase-outline" slot="start"></ion-icon>
          {{ 'Employee' | translate }}
          <ion-icon slot="end" [name]="isRemainder? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/add-rrhh']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/list-rrhh']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item (click)="isPayroll === 1 ? isPayroll = 0 : isPayroll = 1">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          {{ 'Payroll' | translate }}
          <ion-icon slot="end" [name]="isPayroll? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/add-payroll']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/list-payroll']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-concepts']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Concepts' | translate }}              
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-concepts']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'Concepts' | translate }}             
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-add-category']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Categories' | translate }}           
            </ion-item>
            <ion-item menuclose [hidden]="!isPayroll" [routerLink]="['/admin-list-category']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'Categories' | translate }}           
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item (click)="isReport === 1 ? isReport = 0 : isReport = 1">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          {{ 'Report' | translate }}
          <ion-icon slot="end" [name]="isReport? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/add-report']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isReport" [routerLink]="['/list-report']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isCustomer === 1 ? isCustomer = 0 : isCustomer = 1">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          {{ 'Customer' | translate }}
          <ion-icon slot="end" [name]="isCustomer? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isCustomer" [routerLink]="['/add-customers']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isCustomer" [routerLink]="['/list-customers']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isProduct === 1 ? isProduct = 0 : isProduct = 1">
          <ion-icon name="gift-outline" slot="start"></ion-icon>
          {{ 'Product' | translate }}
          <ion-icon slot="end" [name]="isProduct? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/add-product']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/list-product']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
            
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/add-productcategory']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Category' | translate }}
            </ion-item>
            
            <ion-item menuclose [hidden]="!isProduct" [routerLink]="['/list-productcategory']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'Category' | translate }}
            </ion-item>
          
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isSell === 1 ? isSell = 0 : isSell = 1">
          <ion-icon name="rocket-outline" slot="start"></ion-icon>
          {{ 'Sales' | translate }}
          <ion-icon slot="end" [name]="isSell? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isSell" [routerLink]="['/sell-product']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isSell" [routerLink]="['/sell-list']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isRawMaterial === 1 ? isRawMaterial = 0 : isRawMaterial = 1">
          <ion-icon name="flask-outline" slot="start"></ion-icon>
          {{ 'Raw Materials' | translate }}
          <ion-icon slot="end" [name]="isRawMaterial? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRawMaterial" [routerLink]="['/add-rawmaterials']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isRawMaterial" [routerLink]="['/list-rawmaterials']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isSupplier === 1 ? isSupplier = 0 : isSupplier = 1">
          <ion-icon name="airplane-outline" slot="start"></ion-icon>
          {{ 'Supplier' | translate }}
          <ion-icon slot="end" [name]="isSupplier? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isSupplier" [routerLink]="['/add-supplier']" menuClose class="sub-menu">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              {{ 'Add' | translate }}
            </ion-item>
            <ion-item menuclose [hidden]="!isSupplier" [routerLink]="['/list-suppliers']" menuClose class="sub-menu">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              {{ 'List' | translate }}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item (click)="isAdmin === 1 ? isAdmin = 0 : isAdmin = 1">
          <ion-icon name="walk-outline" slot="start"></ion-icon>
          {{ 'Admin Area' | translate }}
          <ion-icon slot="end" [name]="isAdmin? 'caret-down-outline' : 'caret-forward-outline'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isAdmin" [routerLink]="['/audits']" menuClose class="sub-menu">
              <ion-icon name="pulse-outline" slot="start"></ion-icon>
              {{ 'Audits' | translate }}          
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>{{ 'Profile' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/settings">
          <ion-icon name="settings-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'Settings' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/logout">
          <ion-icon name="power-outline" slot="start" ></ion-icon>
          <ion-label>{{ 'LOG OUT' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-admin"></ion-router-outlet>
</ion-app>
