<ion-header>
  <ion-toolbar>
    <ion-title>Dismiss Employee</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <br>
    <ion-item class="profile-item">
      <div class="profile-picture big-profile-picture">
        <img src="assets/img/profile.png">
      </div>
    </ion-item>
    <br>
    <ion-item text-center>
      <ion-label>
        <b>First and last name:</b> {{ user.normalizeAttr['custom:FIRST_NAME'] }} {{ user.normalizeAttr['custom:LAST_NAME'] }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>Email:</b> {{ user.normalizeAttr['email'] }}
      </ion-label>
    </ion-item>
    <ion-item>
        <b>Role:</b> {{ user.normalizeAttr['custom:ROLE'] }}
    </ion-item>
    <ion-item>
      <ion-button color="danger" (click)="disableUser(sub)">Disable User</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
