<ion-header>
  <ion-toolbar>
    <ion-title>New Supplier</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="newSupplier()">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input placeholder="Enter supplier name" [(ngModel)]="fullname" name="fullname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone:</ion-label>
      <ion-input placeholder="Enter supplier phone" [(ngModel)]="phone" name="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input placeholder="Enter supplier email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" color="primary">Submit</ion-button>
  </form>
</ion-content>
