<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
          <img [src]="myCameraService.guestPicture">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <ion-button color="light" shape="round" size="small" (click)="openActionSheet()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      <h3>{{ user.normalizeAttr['custom:FIRST_NAME'] }} {{ user.normalizeAttr['custom:LAST_NAME'] }}</h3>
          
      <h5 class="country">{{ user.normalizeAttr['email'] }}</h5>
      <br>
      <h6 class="ranking"><ion-chip>
        <ion-label>{{ user.normalizeAttr['custom:ROLE'] }}</ion-label>
        </ion-chip>
      </h6>
    </div>
  </div>
</ion-content>
