<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
        <ion-col>
          <div>
            <ion-card class="ios hydrated">
              <img width="250px">
              <ion-card-header class="ion-inherit-color ios hydrated">
                <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">HR</ion-card-subtitle>
                <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Human Resources</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ios card-content-ios hydrated">
                Human resources is the set of the people who make up the workforce of an organization, business sector, industry, or economy. 
                A narrower concept is human capital, the knowledge which the individuals embody. Similar terms include manpower, labour, personnel, associates or simply people
              </ion-card-content>
            </ion-card>
          </div> 
        </ion-col>
        <ion-col>
          <div>
            <ion-card class="ios hydrated">
              <img width="250px">
              <ion-card-header class="ion-inherit-color ios hydrated">
                <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">S</ion-card-subtitle>
                <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Sales</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ios card-content-ios hydrated">
                Allows marketing executives to contact customers and follow-up each and every sales invoice and receive payments for invoices. 
                Track lost orders and identify the reasons for loosing those orders.
              </ion-card-content>
            </ion-card>
          </div> 
        </ion-col>
        <ion-col>
          <div>
            <ion-card class="ios hydrated">
              <img width="250px">
              <ion-card-header class="ion-inherit-color ios hydrated">
                <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">P</ion-card-subtitle>
                <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Purchasing</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ios card-content-ios hydrated">
                The Purchasing module facilitates the creation, maintenance and analysis of purchasing activities within your organization, 
                such as the management of suppliers, and the procurement of goods and services.  
              </ion-card-content>
            </ion-card>
          </div> 
        </ion-col>
</ion-content>
