<ion-header>
  <ion-toolbar>
    <ion-title>Sell Product</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<form (ngSubmit)="newSell()">
  <ion-item>
    <ion-label>
      Customer:
    </ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="customer" name="customer">
      <ion-select-option value="{{ customer.id }}" *ngFor="let customer of customers">{{ customer.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>
      Product:
    </ion-label>
    <ion-select multiple="true" placeholder="Select one at least!" [(ngModel)]="productsSelect" name="productsSelect" (ionChange)="selectedProducts($event)">
      <ion-select-option value="{{ product.id }}-{{ product.cantidad }}-{{ product.nombre }}-{{ product.precio }}" *ngFor="let product of products">{{ product.nombre }} - {{ product.cantidad }} units</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button type="submit" expand="full" color="primary">Submit</ion-button>
</form>
</ion-content>
