<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <ion-item>
          <ion-label *ngIf="tgglCheckValue == true">Dark Mode</ion-label>
          <ion-label *ngIf="tgglCheckValue == false">Light Mode</ion-label>
          <ion-toggle [(ngModel)]="theme" (ionChange)="onToggleColorTheme($event)" checked="{{ tgglCheckValue }}"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
